*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: rgb(237, 219, 243);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: rgb(26, 2, 34);
    padding: 10px;
    position: fixed;
}

.navbar{
    width: 15px;
    height: 12px;
    display: none;
    justify-content: space-between;
    flex-direction: column;
    cursor: pointer;
}

.navbar > div{
    width: 15px;
    height: 2px;
   border-radius: 10px;
    background-color: white;
}

.hr{
    display: none;
}

.ul{
    width: 38%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-right: 20px;
}

img{
    width: 60px;
    /* margin-left: 40px; */
}

.img{
    width: 48px;
    /* margin-left: 40px; */
}

a{
    cursor: pointer;
}
li{
    width: max-content;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}



main{
    text-align: center;
    margin-top: 100px;
}

h3{
    margin-bottom: 20px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    gap: 20px;
}

input{
    height: 30px;
    width: 200px;
    padding: 10px;
}

button{
    width: fit-content;
    height: 30px;
    padding: 0 15px 0 15px;
    margin-bottom: 20px;
    border: none;
    background-color: rgb(26, 2, 34);
    color: white;
    cursor: pointer;
}

article{
    width: 80%;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration:none;
    color: Black
    cursor:pointer;

}

a:hover{
    color: rgb(26, 2, 34);

}
.content{
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding-bottom: 10px;
    border-bottom: dashed 1px rgb(26, 2, 34);
}

video{
    width: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    height: auto;
}

section{
    
    width: 70%;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 40px;
    
}

.container{
    border: solid 2px black;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: fit-content;
    border-radius: 8px; 
}

.title{
    width: 100%;
    background-color: rgb(220, 180, 227);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.price, .price-description{
    padding-top: 10px;
    padding-bottom: 20px;
    width: 250px;
}

footer{
    width: 1000px;
    display: flex;
    justify-content: flex-end;
    
    background-color: rgb(220, 180, 227);
    margin-top: 40px;
}

.footer-content{
    margin: 10px;
    
}

.ul-footer{
    width: 80%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.copyright{
    color: rgb(65, 63, 63);
}

@media (max-width:800px) {
    .ul{
        width: 48%;
        
    }

    section{
        width: fit-content;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    
    .container{
        width: 300px; 
    }
    footer{
        width: 100%;
    }
}

@media (max-width:550px) {

    header{
        width: 100%;
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        
    }

    .hr{
        display: flex;
        width: 100%;
        height: 2px;
        color: white;
        transition: 0.2s;
        margin-top: 20px;
    }

    .hr.active{
        transition: 0.2s;
    }

    .ul{
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        margin-bottom: 20px;
        transition: 0.8s;
        height: 0;
        overflow: hidden;
    }

    .ul.active{
        height: 150px;
        transition: 0.8s;
    }

    .navbar{
        display: flex;
        transition: 0.8s;
    }
    .navbar.active{
        transform: translateY(4px) rotate(90deg);
        transition: 0.8s;
    }

    video{
        width: 100%;
    }
    footer{
        justify-content: center;
        text-align: center;
        
    }
    
}

@media (max-width:350px) {

    section{
        width: 90%;
        align-items: center;
    }

    img{
        width: 100%;
        /* margin-left: 0; */
    }

    article{
        width: 90%;
        justify-content: space-evenly;
    }

    .content{
        margin: 0 0 20px 10px;
        justify-content: space-evenly;
    }


    .container{
        width: 90%;
        font-size: 80%;
        line-height: 20px;
    }
    p{
        font-size: 80%;
    }
}
